.canvas {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.pixel {
    width: 10px;
    height: 10px;
    float: left;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin: 0px;
    padding: 0px;
    display: flex;
    width: fit-content;
}
