.angleLabel {
    position: absolute;
    left: 390px;
    top: 220px;
}
.angleBox {
    position: absolute;
    left: 520px;
    top: 220px;
}

.distanceLabel {
    position: absolute;
    left: 400px;
    top: 280px;
}
.distanceBox {
    position: absolute;
    left: 520px;
    top: 280px;
}

.sendAngle {
    position: absolute;
    left: 700px;
    top: 210px;
}

.sendDistance {
    position: absolute;
    left: 700px;
    top: 270px;
}

.header {
    text-decoration: underline;
    color: grey;
    font-size: 30px;
}

.automated {
    position: absolute;
    left: 50px;
    top: 150px;
}

.manual {
    position: absolute;
    left: 450px; /*370*/
    top: 150px;
}

.speed {
    position: absolute;
    left: 950px; /*750*/
    top: 150px;
}

.investigate {
    position: absolute;
    left: 90px;
    top: 220px;
}

.backtothebase {
    position: absolute;
    left: 70px;
    top: 280px;
}

.stop {
    position: absolute;
    left: 120px;
    top: 340px;
}

.veryfast {
    position: absolute;
    left: 970px;
    top: 220px;
}
.fast {
    position: absolute;
    left: 990px;
    top: 280px;
}
.regular {
    position: absolute;
    left: 977px;
    top: 340px;
}
.slow {
    position: absolute;
    left: 990px;
    top: 400px;
}
.veryslow {
    position: absolute;
    left: 970px;
    top: 460px;
}

.viewmap {
    position: absolute;
    left: 490px;
    top: 460px;
}